* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	user-select: none;  
}

body, html {
	position: relative;
	height: 100%;
	width: 100%;
	font-size: 0.7292vw;
	overflow: hidden;
	color: white;
}
.form {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}
span, div:not(.form), img, svg, path, input {
	transition: all 0.3s ease;
}
.main_game {
	width: 100vw;
	height: 100%;
	background-image: url('../images/bg.png');
	background-size: 100% 100%;
	border-radius: 3.7351vw;
	overflow: hidden;
	padding: 8.489vw;	
}
.left_header {
	gap: 1.6978vw;
}
.left_header img {
	width: 7.3005vw;
	height: 7.3005vw;
	background: gray;
	border-radius: 100%;
}
.row_header span:first-child {
	font-size: 2.7165vw;
	font-family: 'Regular';
	color: rgba(255, 255, 255, 0.5);
}
.row_header span:last-child {
	font-size: 3.3956vw;
	font-family: 'Medium';
}
.desc_coins {
	font-size: 3.9049vw;
	font-family: 'Regular';
	color: rgba(255, 255, 255, 0.75);
}
.flex_balance {
	gap: 2.3769vw;
}
.flex_balance img {
	width: 6.7912vw;
	height: 6.791vw;
	border-radius: 100%;
	box-shadow: 0 0 4.924vw rgba(242, 198, 194, 0.25);
}
.flex_balance span {
	font-size: 6.961vw;
	font-family: 'Travels';
}
.main_info {
	position: absolute;
	left: 50%;
	top: 25.8795vw;
	transform: translateX(-50%);
}
.pannel_i {
	height: 9.3379vw;
	background: rgba(255, 255, 255, 0.05);
	border-radius: 56.5365vw;
	gap: 1.3582vw;
	flex-shrink: 0;
	padding: 1.019vw 2.716vw 1.019vw 1.019vw;
}
.circ_i {
	width: 6.961vw;
	height: 6.961vw;
	border: 0.17vw solid #fff1b8;
	box-shadow: 0 1.188vw 6.282vw rgba(255, 241, 184, 0.25), inset 0 0.679vw 0.679vw rgba(255, 255, 255, 0.25);
	background: linear-gradient(180deg, #e2d6a9 0%, #b2a678 100%);
	border-radius: 100%;
}
.circ_i svg {
	width: 4.0747vw;
	height: 4.0747vw;
}
.desc_i {
	font-size: 2.7165vw;
	font-family: 'Regular';
	color: rgba(255, 255, 255, 0.5);
}
.flex_i span {
	font-size: 3.396vw;
	font-family: 'Medium';
}
.box_icon {
	padding: 0vw 0.679vw;
	height: 3.7351vw;
	border-radius: 0.509vw;
	background: #fff1b8;
	font-size: 2.3769vw;
	font-family: 'SemiBold';
	color: rgba(0, 0, 0, 0.75);
}
.flex_i {
	gap: 0.6791vw;
}
.flex_pannels_info {
	margin-top: 3.3956vw;
	gap: 2.5467vw;
}
.blue_pannel .circ_i {
	border: 0.17vw solid #a9c2e2;
	box-shadow: 0 1.188vw 6.282vw rgba(169, 194, 226, 0.25), inset 0 0.679vw 0.679vw  rgba(255, 255, 255, 0.25);
	background: linear-gradient(180deg, #a9c2e2 0%, #7e93ae 100%);
}
.green_pannel .circ_i {
	border: 0.17vw solid #bad3ae;
	box-shadow: 0 1.188vw 6.282vw 0 rgba(186, 211, 174, 0.25), inset 0 0.679vw 0.679vw rgba(255, 255, 255, 0.25);
	background: linear-gradient(180deg, #bad3ae 0%, #87a17b 100%);
}
.green_pannel .box_icon {
	background: #bad3ae;
}
.labubu_cont {
	width: 79.2869vw;
	height: 79.2869vw;
}
.main_page {
	position: absolute;
	bottom: 29.8421vw;
}
.circle_bg {
	background-image: url('../images/circle.png');
	background-size: 100% 100%;
	width: 79.2869vw;
	height: 79.2869vw;
	transition: transform 0.3s cubic-bezier(0.4,0,0.2,1) !important;
	will-change: transform;
}
.labubu_pic {
	height: 74.1935vw;
	position: absolute;
	margin-bottom: 12vw;
	user-select: none;
}
.bg_under_circle {
	width: 92.02vw;
	height: 82.5127vw;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 4.0747vw;
	background: linear-gradient(180deg, rgba(242, 198, 194, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
}
.numbers_cont {
	pointer-events: none;
	position: absolute;
	width: 79.2869vw;
	height: 79.2869vw;
}
.numbers_cont span {
	font-size: 10.3565vw;
	font-family: 'SemiBold';
	opacity: 0;
}
.upgrade_button {
	width: 48.8964vw;
	cursor: pointer;
	gap: 1.3582vw;
	height: 11.8846vw;
	background: radial-gradient(66.48% 185.23% at 0% 35.94%, #F2C6C2 10.55%, rgba(242, 198, 194, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(78.45% 156.63% at 44.89% 100%, #D3B8AE 0%, #FFE57D 80.98%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(90deg, #FFB1AC 0%, #996A67 100%);
	border: 0.34vw solid #FFF7D4;
	box-shadow: 0vw 1.698vw 10.187vw rgba(255, 175, 175, 0.5), inset 0vw 0.509vw 1.138vw rgba(255, 255, 255, 0.75);
	border-radius: 9.338vw;
}
.upgrade_button span  {
	font-size: 3.9445vw;
	font-family: 'Medium';
}
.upgrade_button  svg {
	width: 4.0747vw;
	height: 4.075vw;
}
.row_upgrade {
	position: relative;
	margin-top: -13.0747vw;
}
.descr_upgrade  {
	font-size: 3.3956vw;
	font-family: 'Regular';
	margin-top: 2.0374vw;
	color: rgba(255, 255, 255, 0.75);
}
.dashboard {
	width: 100%;
	height: 13.073vw;
	padding: 1.698vw 2.377vw;
	background: radial-gradient(45.98% 254.78% at 17.57% -162.63%, rgba(255, 241, 184, 0.25) 0%, rgba(255, 241, 184, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(81.33% 642.94% at 121.49% 601.3%, #F2C6C2 0%, rgba(242, 198, 194, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #352D2D;
	border-radius: 94.228vw;
}
.load_bg {
	z-index: 9999999;
}
.wrapper_dashboard {
	display: flex;
	width: 92.02vw;
	left: 50%;
	transform: translateX(-50%);
    position: fixed !important;
	bottom: 7.6401vw;
	z-index: 99 !important;
}
.ctg_wrap {
	width: 100%;
}
.ctg_wrap svg {
	width: 6.1121vw;
	height: 6.1121vw;
}
.load_bg {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	height: 100%;
}
.wrapper_lb {
	width: 26.6553vw;
}
.box_lb img {
	height: 13.6384vw;
	margin: auto;
	flex-shrink: 0;
}
.box_lb {
	width: 26.6553vw;
	height: 32.5976vw;
	border-radius: 1.528vw 1.528vw 0 0;
	padding: 1.868vw;
}
.row_lb span:first-child {
	font-size: 3.1239vw;
	font-family: 'SemiBold';
}
.row_lb span:last-child {
	font-size: 2.4992vw;
	font-family: 'Regular';
	color: rgba(255, 255, 255, 0.5);
}
.line_lb {
	height: 0.8489vw;
	width: 2.7165vw;
	border-radius: 37.691vw;
}
.red_box {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.82%, rgba(255, 135, 116, 0.25) 100%), rgba(59, 47, 47, 0.72);
}
.red_box .line_lb {
	background: #ff8774;
}
.desc_lb {
	font-size: 2.4992vw;
	font-family: 'Regular';
	color: rgba(255, 255, 255, 0.5);
}
.flex_i .circ_i {
	width: 3.2666vw;
	height: 3.2666vw;
}
.flex_i .circ_i svg {
	width: 1.9117vw;
	height: 1.9117vw;
}
.upgrade_page {
	position: absolute;
	bottom: 0;
	width: 92.0204vw;
	left: 50%;
	padding: 2.7165vw;
	transform: translateX(-50%);
	height: 119.0153vw;
	background: linear-gradient(180deg, rgba(242, 198, 194, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
	border-radius: 4.075vw;
}
.flex_i span {
	font-size: 2.6859vw;
}
.desc_lb {
	margin-bottom: 0.5093vw;
}
.pr_wrapper img {
	height: 2.5467vw;
	filter: drop-shadow(0 0.509vw 1.188vw rgba(255, 177, 172, 0.35));
}
.descr_price {
	font-size: 2.4992vw;
	font-family: 'Regular';
	color: rgba(255, 255, 255, 0.5);
}
.pr_wrapper {
	gap: 0.8489vw;
}
.price_pannel {
	height: 6.6214vw;
	padding: 1.868vw;
	background: rgba(255, 177, 172, 0.15);
	border-top: 0.17vw solid rgba(255, 255, 255, 0.15);
	border-radius: 0 0 1.528vw 1.528vw;
} 
.pr_wrapper span {
	font-size: 2.3769vw;
	font-family: 'Medium';
}
.head_desc span:first-child {
	font-size: 3.3956vw;
	font-family: 'Medium';
}
.head_desc span:last-child {
	font-size: 3.056vw;
	font-family: 'Regular';
	color: rgba(255, 255, 255, 0.75);
}
.overflow_up {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 2.0374vw;
	height: 79.966vw;
	margin-top: 2.3769vw;
	overflow-y: auto;
}
.overflow_up::-webkit-scrollbar {
	display: none;
}
.ctg_wrap {
	border-radius: 9.338vw;
}
.selected_ctg {
	background: radial-gradient(100% 100% at 50% 100.96%, #FFF1B8 0%, rgba(0, 0, 0, 0) 100%), rgba(255, 241, 184, 0.15);
	border: 0.17vw solid #FFF1B8;
	border-radius: 9.338vw;
}
.selected_ctg svg path {
	fill-opacity: 1;
	fill: #FFF1B8;
}
.popout_confirm {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	padding: 6.2818vw;
	gap: 5.4329vw;
	border-radius: 5.433vw 5.433vw 0vw 0vw;
	background: rgba(0, 0, 0, 0.35);
	backdrop-filter: blur(4.677vw);
	z-index: 100 !important;
}
.conf_text {
	font-size: 4.584vw;
	font-family: 'SemiBold';
	text-align: center;
	line-height: 93%;
}
.conf_color {
	color: #FFD86E;
}
.descr_conf {
	font-size: 3.056vw;
	font-family: 'Regular';
	margin-top: 1.3582vw;
	color: rgba(255, 255, 255, 0.5);
}
.popout_confirm  .upgrade_button {
	height: 11.0357vw;
}

.main_page, .upgrade_page {
	position: absolute;
	left: 50%;
	animation: fadeInUp 0.6s ease-out forwards;
}
.bg_animation {
	position: absolute;
	width: 100%;
	overflow: hidden;
	height: 100%;
	left: 0;
	top: 0;
	border-radius: 4.0747vw;
}
.bg_animation div {
	width: 25.4669vw;
	height: 25.4669vw;
	background: white;
	border-radius: 100% 100%;
	position: absolute;
	filter: blur(9.5076vw);
	mix-blend-mode: overlay;

	transition: 
	  left 2s cubic-bezier(.4,0,.2,1),
	  top 2s cubic-bezier(.4,0,.2,1),
	  transform 2s cubic-bezier(.4,0,.2,1),
	  opacity 2s cubic-bezier(.4,0,.2,1);
	will-change: left, top, transform, opacity;
}
.header {
	position: relative;
}

@keyframes fadeInUp {
	from {
	  transform: translateY(25.396vw) translateX(-50%);
	  opacity: 0;
	}
	to {
	  transform: translateY(0) translateX(-50%);
	  opacity: 1;
	}
  }








.flexend {
	align-items: flex-end;
}
.gap16 {
	gap: 0.83333vw;
}
.gap8 {
	gap: 0.41667vw;
}
.gap12 {
	gap: 0.625vw;
}
.space {
	justify-content: space-between;
}
.w100 {
	width: 100%;
}
.h100 {
	height: 100%;
}
.tc {
	text-align: center;
}
.clmn {
	display: flex;
	flex-direction: column;
}
.flex {
	display: flex;
}
.alcn {
	display: flex;
	align-items: center;
}
.jlcn {
	display: flex;
	align-items: center;
	justify-content: center;
}
.rev {
	flex-direction: row-reverse;
}